<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tuzhan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FindingMatch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MatchFound"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameplayUI"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameFinished"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserInfo"
            android:theme="@style/AppTheme.PopUp"/>
        <service android:name=".ClosingService"
            android:stopWithTask="false"/>
    </application>

</manifest>